
    <div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url('assets/img/bg0n-new.png');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <h1>feedIntel
                        <span class="pro-badge">
                            Live
                        </span>
                    </h1>

                    <h3 class="title">Prevent Violent Extremism Before It Happens </h3>
                </div>
            </div>
        </div>
    </div>
</div>









<div class="main main-raised">
	
    <div class="section section-basic">
        <div class="container">
            <!-- <div class="title">
              <h2>Basic</h2>
            </div> -->

 
<div class="main">
  
    <div class="cd-section" id="features">
        <div class="container">
            <!--     *********     FEATURES 1      *********      -->
            <div class="features-1">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">what is feedIntel</h2>
                        <h5 class="description"><h4>FeedIntel changes the way we respond to disasters by letting our voices be heard by the ones who can truly help. The feedIntel system serves as platform for posting, processing, modeling, analyzing, visualizing and curating information related to violent extremism and disaster.

                                      Our goal is to empower every citizen with a tool to achieving a more resilient community.</h4></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-info">
                                <i class="material-icons">chat</i>
                            </div>
                            <h4 class="info-title">Open Reporting</h4>
                            <p>Every Nigerian is important in ensuring a violent free community. feedIntel represents this by allowing anyone share intelligent information about their environment.</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-success">
                                <i class="material-icons">verified_user</i>
                            </div>
                            <h4 class="info-title">Verified Users</h4>
                            <p>We ensure the integrity of reports through verifying of all users on the platform.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="material-icons">check</i>
                            </div>
                            <h4 class="info-title">Accountability</h4>
                            <p>Intelligence reports are made available to security agents and accessible to everyone. </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--     *********    END FEATURES 1      *********      -->
            <!--     *********     FEATURES 2      *********      -->
            <div class="features-2">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">How We Engage</h2>
                        <h5 class="description"></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="info info-horizontal">
                            <div class="icon icon-info">
                                <i class="material-icons">group_work</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Community Leaders</h4>
                                <p>We will work with community leaders to ensure trust  </p>
                                <a href="#">Find more...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info info-horizontal">
                            <div class="icon icon-danger">
                                <i class="material-icons">airplay</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">NGOS & Support Organizations</h4>
                                <p>Through the support of NGOs and other organizations, we intend to drive our solution to the far north east and other parts of nigeria.</p>
                                <a href="#">Find more...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info info-horizontal">
                            <div class="icon icon-success">
                                <i class="material-icons">account_circle</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Individuals</h4>
                                <p>Data intelligence reports will be gathered from different parts of Nigeria via our various platforms</p>
                                <a href="#">Find more...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--     *********    END FEATURES 2      *********      -->
            <!--     *********     FEATURES 3      *********      -->
            </div>
            <!--     *********    END FEATURES 3      *********      -->
            <!--     *********     FEATURES 4      *********      -->
           
            <!--     *********    END FEATURES 4      *********      -->
        </div>

        <div class="features-5" style="background-image: url('assets/img/bg9-new.png')">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Features</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="info">
                            <div class="icon">
                                <i class="material-icons">face</i>
                            </div>
                            <h4 class="info-title">Citizen Reports</h4>
                            <p>Citizen reports can be posted by users. Draggable markers are available for users to pin on the map to make visual mapping of their reports more precise. Submitted reports are immediately posted on the Timeline for viewing and response</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="info">
                            <div class="icon">
                                <i class="material-icons">timeline</i>
                            </div>
                            <h4 class="info-title">Timeline</h4>
                            <p>The Timeline lists reports posted by feedintel users. This is also where other users can post comments to provide support, validation or any other form of response to the report received.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="info">
                            <div class="icon">
                                <i class="material-icons">room</i>
                            </div>
                            <h4 class="info-title">Maps</h4>
                            <p>The Map allows users to filter and view reports on the map. Filters include keywords, urgency, date range, and other layers of information (e.g., hazard maps, Tweets from the social media, evacuation shelter profiles, etc.). </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="info">
                            <div class="icon">
                                <i class="material-icons">group_work</i>
                            </div>
                            <h4 class="info-title">Socials</h4>
                            <p>The Socials page allows users to follow hashtags and trending topics relevant to disaster reporting </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="info">
                            <div class="icon">
                                <i class="material-icons">perm_phone_msg</i>
                            </div>
                            <h4 class="info-title">SMS Reporting</h4>
                            <p>Our Users can register and send their reports through the SMS Service using their mobile phones. SMS can be sent to us via shortcodes </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="info">
                            <div class="icon">
                                <i class="material-icons">record_voice_over</i>
                            </div>
                            <h4 class="info-title">Security Reports</h4>
                            <p>FeedIntel will serve as a source for intelligent security reporting to security agents and the general public </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
    </div>
   
   </div>


   


  

        </div>
    </div>




 
 



</div>




<!-- Classic Modal -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
				</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link">Nice Button</button>
                <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->

