<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reportsModalLabel">Success!</h5>
        <a href="<%=root_path%>" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </a>
      </div>

      <div class="modal-body">
        <div class="col-md-12 text-center">

          <p class="text-uppercase ">
            <button type="button" class="btn btn-fab btn-round btn-primary">
                          <i class="material-icons md-48">check_circle</i>
                      </button> 
              </p>
              
               <p>
        Thanks for sharing intelligence report with feedIntel. together we can win the war against violent extremism.</p>
        </div>
       
    </div>

    
        <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
 -->
    </div>
  </div>
    





